/*Кнопка удаления */

.btn-del {
    min-width: 30px;
    height: 30px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(179, 0, 0, 0.393);
}

.btn-del:hover {
    background-color: #fff;
    color: rgba(255, 0, 0, 0.828);;
}

.info-delete {
    width: max-content;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
