.info-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0006;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}

.info-wrapper.active {
    display: flex;
    animation-name: fade;
    animation-duration: .2s;
}

.info {
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    max-width: 600px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #0004;
    border-radius: 10px;
    position: relative;
    display: none;
}

.info.active {
    display: block;
    animation-name: fade;
    animation-duration: .2s;
}

.info h2 {
    text-align: center;
    margin: 0 0 20px;
}

.info-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items:flex-start;
}

.info-close {
    width: max-content;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.info-img {
    grid-row-end: span 5;
    background: url(..img/cat.jpg) no-repeat center / cover;
    padding: 100px;
    border-radius: 100px;
    padding-left: 150px;
}

.info-description {
    grid-column-end: span 2;
}
